.canvasBox{
    padding: 20px;
}
.canvasBox p{
    font-size: 16px;
}
.canvasBox input{
    width: 200px;
    height: 24px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-right: 10px;
}
.canvasBox button{
    height: 26px;
    width: 60px;
    border: 1px solid #70b544;
    background-color: #70b544;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}
.canvas{
    margin-top: 50px;
    position: relative;
    max-width: 100%;
}
.footer{
    width: 1100px;
    max-width: 100%;
    font-size: 25px;
}
.footer div:first-child{
    float: left;
    color: #897fef;
    padding-left: 10px;
}
.footer div:last-child{
    float: right;
    color: #82c99d;
    padding-right: 10px;
}