.gender{
    padding: 20px;
}
.title{
    font-size: 24px;
    margin: 0;
}
.tip{
    font-size: 14px;
    color: #666;
    margin: 10px 0;
}
.input{
    width: 200px;
    height: 24px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-right: 10px;
}
.submit{
    height: 26px;
    width: 60px;
    border: 1px solid #70b544;
    background-color: #70b544;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}
.canvas{
    margin-top: 30px;
    position: relative;
    width: 750px;
    max-width: 100%;
    box-shadow: 5px 5px 5px #ddd;
}
.footer{
    width: 750px;
    max-width: 100%;
    font-size: 25px;
}
.footMale{
    float: left;
    color: #897fef;
    padding-left: 10px;
}
.footFemale{
    float: right;
    color: #82c99d;
    padding-right: 10px;
}